body {
    background-color: lightgray;
    font-family: "Oswald", Helvetica, sans-serif;
}

header {
    background-color: darkred;
    padding: 50px;
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    color: white;
}

section {
    border-width: 1px;
    margin-top: 20px;
    margin-left: 100px;
    display: inline-block;
    padding: 10px;
    
}

section > p {
    background-color: lightcoral;
    padding: 50px;
    margin-top: -30px;
}